<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.forzo.holdMyCard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".HmcApplication"
        android:allowBackup="true"
        android:icon="@drawable/hmc_logo_one"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hmc_logo_one"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".utils.MyFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ui.activities.home.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.Profile.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.sort.SortCardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.mylibrary.MyLibraryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.creategroup.CreateGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.forgetpassword.ForgetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.notes.NotesActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.notesdetail.NotesDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.remainder.ReminderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.remainderdetails.RemainderDetailsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.customChooserDialog.CustomChooserDialog"
            android:configChanges="orientation"
            android:parentActivityName=".ui.activities.Profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notify" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.imageFullScreen.ImageFullScreenActivity"
            android:configChanges="orientation"
            android:label=""
            android:parentActivityName=".ui.activities.Profile.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.activities.sortDialog.SortDialogActivity"
            android:configChanges="orientation"
            android:label=""
            android:parentActivityName=".ui.activities.mylibrary.MyLibraryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />
        <activity
            android:name=".ui.activities.loginregister.LoginRegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.userprofile.UserProfileActivity"
            android:label="@string/profile"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.personalizedqr.QRActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.newcard.NewCardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activities.forgetPasswordConfirmation.ForgetPasswordConfirmationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.creategroupname.CreateGroupNameActivity"
            android:configChanges="orientation"
            android:label="New Group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.splashscreen.SplashScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.groupdetails.GroupDetailsActivity"
            android:configChanges="orientation"
            android:label="Group Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.addparticipant.AddParticipantActivity"
            android:configChanges="orientation"
            android:label="Add Participants"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activities.editgroupname.EditGroupNameActivity"
            android:configChanges="orientation"
            android:label="Group Name"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>